body{
  background-color: #0d1117;
  color:#c9d1d9;
}
.main{
  width: 96%;
  max-width: 50em;
  margin: auto;
  margin-bottom: 4em;
  margin-top: 5em;
  padding: 0px 2%;
}
.main ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.split{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
}
input[type=button]{
  font-size: 18px;
  padding: 8px 20px;
  margin-left: 21px;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: #21262d;
  color:#ffffff;
  border-color:rgba(240,246,252,0.1);
  cursor: pointer;
  transition: 0.2s ease all;
}
input[type=button]:hover{
  border-color:#8b949e;
  background-color: #30363d;
}
.download{
  background-color: #1f6feb;
}
.title{
  font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 0.9em;
}
.detailList{
  padding: 1em 1.3em !important;
  background-color: #161b22;
  border-radius: 5px;
}
.detailList li{
  margin-bottom: 0.9em;
}
.detailList li:last-child{
  margin:0
}
h2{
  border-bottom: 1px solid #21262C;
  padding-bottom: 0.3em;
}
.summary{
  color: #8b949e;
  font-size: 1.1em;
    font-style: italic;
}
.summary li{
  font-size: 1em !important;
}
.listPoints{
  border-left: .25em solid #30363d;
  padding: 0 1em !important;
}
.points{
  flex-wrap: wrap;
    justify-content: start;
}
.points span{
  background-color: rgba(110,118,129,0.4);
  border-radius: 6px;
  margin: 4px;
  padding: 6px 12px;
  font-size: 90%;
  overflow-x: auto;
  white-space: nowrap;
}
.nav{
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  max-width: 50em;
  background-color: #0d1117;
}
.nav label{
  width: 100%;
  text-align: center;
  line-height: 64px;
  max-height: 64px;
  font-size: 22px;
  overflow: hidden;
  border-bottom: 2px solid #21262c;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  transition: 0.3s ease all;
}
.nav label:hover{
  border-color: #ff00005e;
}
.selectedButton{
  color: red;
  border-color: red !important;
}
.nav input{
  display: none;
}
a{
  color: #0088ff;
}
.alert{
  background-color: #ff2f2f;
  font-size: 1.3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  padding: 6px 12px;
  color: white;
}
.alert input{
  background-color: transparent !important;
  font-size: 22px;
  border: none;
}